html {
    height:100%;
    min-width: 1025px;
}

body {
    font-family: 'Roboto', sans-serif;
    min-width: 1025px;
    background: #222222;
    color: white;
    margin:0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
    transition: color 0.3s ease;
    }

button:focus, button:active {
    outline: none;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    background: #141414;

}

.nav__left {
    display: flex;
    flex-direction: row;
    margin-left: 18%;
    align-items: center;
}

.nav__left > input {
    margin-left: 15px;
    height: 28px;
    width: 104px;
    font-size: 12px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border: 0;
    background: #222;
    color: #aaa;
    padding-left: 12px;
    outline: none;
}

.nav__left > i {
    display: block;
    height: 30px;
    line-height: 30px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    color: #666;
    background: #222;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


.nav__left > input:focus {
    background:#333;
}

.nav__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 18%;
}

.nav__right > *:not(:last-child){
    margin-right: 17px;
}

.nav__right > a {
    font-size: 14px;
    color: #aaa;
    cursor: pointer;
}

.nav__right > a:hover {
    color: #ccc
}

.nav__button {
    font-family: 'Roboto', sans-serif !important;
    border: none;
    text-align: center;
    width: 100px;
    height: 35px;
    text-transform: capitalize;
    border-radius: 4px;
    color: #ccc;
    background: #719E2F;
    cursor: pointer;
}

.nav__button:hover {
    background: #72a526;
}

.nav__title {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 300;
    font-size: 22px;
    transition: color 0.5s ease;
}

.nav__title:hover {
    color:#ca452f !important;
    cursor: pointer;
}

.nav__title > span {
    color:#ca452f !important;
}

.login-background-top {
    z-index: -1000;
    position:fixed;
    width:100%;
    height:45vh;
    background: #141414;
}
.container {
    display:flex;
    flex-direction: column;
    height:100vh;
    justify-content: center;
    align-items: center;
}

#login-title {
    margin:0 0 15px 0;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 300;
}

#login-title > span {
    color:#ca452f !important;
}

.login-panel {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #333333;
    width:450px;
    padding:30px 0 15px 0;
}

.login-panel__error {
    color: #ca452f;
}

.login-panel__success {
    color: green;
}

.login-panel form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
}

.login-panel input[type=text],[type=password],[type=submit], [type=email] {
    width: 85%;
    outline:none;
    border:none;
    margin:10px;
    height:55px;
    font-size:1em;
    border-radius: 3px;
}

.login-panel input[type=text],[type=password],[type=email] {
    padding-left:35px;
    width: calc(85% - 35px);
}

.login-panel input[type=submit] {
    background: #ca452f;
    color:white;
    margin-bottom:20px;
}

.login-panel input[type=submit]:hover {
    cursor: pointer;
    background: #ce523d;
}

.login-panel form > span {
    margin: 7px 0 7px 0;
}

.login-panel form > span > a {
    text-decoration: none;
    color:#ca452f;
    font-size:inherit;
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #141414;
    width: 100%;
    height: 65px;
    font-size: 14px;
}

.footer__left {
    display: flex;
    flex-direction: row;
    margin-left: 18%;
}

.footer__left > p {
    font-style: italic;
    color: #888;
}

.footer__right {
    display: flex;
    flex-direction: row;
    margin-right: 18%;
}

.footer__right > a {
    color: #aaa;
}

.footer__right > *:not(:last-child){
    margin-right: 24px;
}

.footer__right > a:hover {
    color: #bbb;
    cursor: pointer;
}

/* USER PANEL */

.user-panel-background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 135px;
    top: 65px;
    background-image: url(http://monodomo.com/free-wallpapers/medieval-battle-wallpapers-1080p-For-Free-Wallpaper.jpg);
    background-size: cover;
    background-position: center center; 
    overflow: hidden;
    opacity: 0.1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
}

.user-panel {
    z-index: 2;
    color: #777;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 135px;
    justify-content: space-between;

}

.user-panel__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 18%;
}

.user-panel__left > img {
    margin-right: 20px;
    height: 80px;
    width: 80px;
}

.user-panel__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-panel__username {
    font-family: 'Roboto Condensed', sans-serif !important;
    color: white;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}

.user-panel__username > p {
    margin: 0 0 0 0;
}
.user-panel__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 9px;
}

.user-panel__buttons > button {
    font-family: 'Roboto', sans-serif !important;
    border: none;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    height: 30px;
    border-radius: 4px;
    color: #ccc;
    background: #ca452f;
    cursor: pointer;
}


.user-panel__buttons > button:not(:first-child) {
    margin-left: 10px;
}

.user-panel__buttons > button:hover {
    background: #ce523d;
}

.user-panel__buttons i {
    margin: 0 4px 0 0;
}

.user-panel__right {
    display: flex;
    align-items: center;

    flex-direction: row;
    margin-right: 18%;
}

.user-panel__stat {
    margin: 0 13px 0 13px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-panel__stat > p {
    margin: 5px 0 5px 0;
}

.user-panel__stat > p:first-child {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
}
.user-panel__stat > p:last-child {
    color: #777;
    font-size: 12px;
    font-weight: 500;
}

.user-panel--gold {
    color:	#FFD700 !important;
}

.user-panel--notification {
    background:#719E2F !important;
}

.user-panel--notification:hover {
    background: #72a526 !important;
}

/* navbar */

.navbar {
    height: 50px;
    background: #333333;
}

.navbar-items {
    margin: 0 18% 0 18%;
    display: flex;
    flex-direction: row;
    color: #ddd;
    font-size: 14px;
    height: 100%;
}

.navbar-items p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100px;
    text-align: center;
}

.navbar-items ul {
    display: flex;
    flex-direction: row;
    list-style-type: none; 
    margin: 0;
    padding: 0; 
}

.navbar-items ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor:pointer;
}

.navbar-items--active {
    border-top: 2px solid #ca452f;
    background: #222;
}

/* Chat */

.chat-tab {
    position: fixed;
    bottom: -5px;;
    right: 30px;
    padding: 12px;
    background: #ca452f;
    color: #fff;
    font-size: 18px;
    height: 26px;
    width: 170px;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
}

.placeholderdiv {
    color: #777;
    padding-top: 20px;
    min-height: 70vh;
    margin: 0 18% 0 18%;
}


